absl-py==0.11.0
anyio @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/62/8f/a6/a7d3979e0bad5ed15e4c75db45a0b4c4689c3826a0b42cd2279a8e0251/anyio-2.0.2-py3-none-any.whl
appnope @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/db/10/31/24b2c5bc1fc158d51095265fd31ede89b3ac384a8a2307ffc7ec8d87bb/appnope-0.1.2-py2.py3-none-any.whl
argon2-cffi @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/eb/24/17/c70b29863cf49b789d8130e1aa090887c5ff1c5e691618a11eb5111dfa/argon2_cffi-20.1.0-cp37-abi3-macosx_10_6_intel.whl
astunparse==1.6.3
async-generator @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/60/d6/35/e25389ca9cdf584a7a41be4eab45a490150210296ca82c7eb696a7e21b/async_generator-1.10-py3-none-any.whl
attrs @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/b7/28/6f/acdd2c0e759f1cda97abf00db7723a0ffb3a151696d8d96398aea16171/attrs-20.3.0-py2.py3-none-any.whl
Babel @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/e3/ab/8c/e6b588d52a460a9eca8f0b62cffeb18d90d8631d8b5c7e180c56b123f8/Babel-2.9.0-py2.py3-none-any.whl
backcall @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/62/2c/f2/bf9c43ca0bcfca41150901227b0d023dc854851b710f82a72f5beaa09b/backcall-0.2.0-py2.py3-none-any.whl
bleach @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/67/f3/62/10cd07e26ecd7c93ce044ad916a164d49f1d4dd1cf329d864bf91f0619/bleach-3.2.3-py2.py3-none-any.whl
cachetools==4.2.1
certifi==2020.12.5
cffi @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/b0/d7/a6/d7f247e290412073e6441b73256adc09b2ab349559823a46a5482ed996/cffi-1.14.4-cp38-cp38-macosx_10_9_x86_64.whl
chardet==4.0.0
cloudpickle==1.6.0
cycler==0.10.0
decorator @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/e8/56/46/038f0f95c2eb2a2792092491cba740226306e663708d5062754d1cb91f/decorator-4.4.2-py2.py3-none-any.whl
defusedxml @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/8b/b9/f6/56ba9b58f3a759ce345d18bad38edfc12a9f60420962a17a2084202e0e/defusedxml-0.6.0-py2.py3-none-any.whl
dm-sonnet==2.0.0
dm-tree==0.1.5
entrypoints @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/27/67/42/5ca7438658f76c8700ff6c44ea1cf9dc128cf0862adb7de53d3a35266c/entrypoints-0.3-py2.py3-none-any.whl
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
-e git+https://github.com/openai/gym.git@8a721ace460cbaf8c3e6c03c12d06c616fd6e1e8#egg=gym
h5py==2.10.0
idna==2.10
ipykernel @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/ca/cc/51/21510e246e9deb89203de406b6dab87f42b80731a134a35c3b35ae0a94/ipykernel-5.4.3-py3-none-any.whl
ipython @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/86/9e/ba/5c31b7289babe78ae856682b4ff7efab7f6fcc59c8820d0c1c7fdc3495/ipython-7.19.0-py3-none-any.whl
ipython-genutils @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/e6/8e/a3/8f37e14310c0072b3fcc4240490bcb42630aa695d069aee89953ebd9f8/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets==7.6.3
jedi @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/42/26/07/496d2180e241dbf58cf832e0c7a617d8fcbdd6f3f93937056d106545fc/jedi-0.18.0-py2.py3-none-any.whl
Jinja2 @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/a0/8d/d0/dce9f8c04cdcf457adcd58424bdacab8a7a2c3c42854fd3c0d2135046e/Jinja2-2.11.2-py2.py3-none-any.whl
json5 @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/9e/79/44/8872aa1bab8e560f39ddb33c93d258d442e652ec8d2e54fb7867ee2938/json5-0.9.5-py2.py3-none-any.whl
jsonschema @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/8a/0f/f1/4a51263f4c7019004d5abd49f41d94c0eb4618233008d82a629134c337/jsonschema-3.2.0-py2.py3-none-any.whl
jupyter-client @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/e2/8c/b4/2b7ad7ff3b52d561ad5f83e7539824b05c76d43d6ef4559c7a7f9a0f6a/jupyter_client-6.1.11-py3-none-any.whl
jupyter-core @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/57/88/05/5e2e9ab164c345ddceea6f457d0aef5beaed1d68cc9ecefb690dabfe22/jupyter_core-4.7.0-py3-none-any.whl
jupyter-server @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/61/ff/e9/0c235b8670dfde5134786756da4e14ac24ce066d3bb2e32d14b2158261/jupyter_server-1.2.2-py3-none-any.whl
jupyterlab @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/40/85/78/fb3354db2e15cacb518a86cc9e517d842fe30574e4240516be8706313c/jupyterlab-3.0.5-py3-none-any.whl
jupyterlab-pygments @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/c8/b0/10/ad75ecf240424057a12f5b4320da2c9f380541cdf830a39e7e8437c2c0/jupyterlab_pygments-0.1.2-py2.py3-none-any.whl
jupyterlab-server @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/84/d7/4c/00490cb9b00588305ce89375b38f8851c51957fd284c902f1dcd9365d6/jupyterlab_server-2.1.3-py3-none-any.whl
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.3
MarkupSafe @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/c6/f0/df/47b8e78a3e4aa51bccefa7a95dc021176d8911e65b89b9ee8fbf3c601e/MarkupSafe-1.1.1-cp38-cp38-macosx_10_9_x86_64.whl
matplotlib==3.3.3
mistune @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/d9/d8/5c/8eac14aaa95c3aa81409d56b7423ff6dd88eb398f551c1bf0b8c05b916/mistune-0.8.4-py2.py3-none-any.whl
nbclassic @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/a6/85/e7/eb476409f058fb1ee1c21e8c80f0858f6f9364d0dafe49eb934bd27aa2/nbclassic-0.2.6-py3-none-any.whl
nbclient @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/ca/75/28/4f846efe867484804f4e1e3ed8735ab8c75a0a186cf3742fc5381a08fc/nbclient-0.5.1-py3-none-any.whl
nbconvert @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/6d/04/d2/6f698739d85cec6503abcfed57a421b113f6f66af399a25bf9994a1a87/nbconvert-6.0.7-py3-none-any.whl
nbformat @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/ef/d0/08/2cbfc9a5271fecac60296b690ec71df30e1a74edd3ff54c3caaffa35fe/nbformat-5.1.2-py3-none-any.whl
nest-asyncio @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/54/2a/a5/503e47fa16f511b54e07e79141c6fd661c15044824cefbe1d5babea784/nest_asyncio-1.4.3-py3-none-any.whl
notebook @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/3e/8a/25/b1670acaec388e488b5241e4817ce5dcc033c659e66dcabd9bc167ed3e/notebook-6.2.0-py3-none-any.whl
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/e5/ad/d2/fc9c55d2e45df943eb12bd2454a16feb4608127ec5f4a8ec9c0c9d2b57/packaging-20.8-py2.py3-none-any.whl
pandocfilters @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/a0/de/ee/57ddb36e87aac56bbe9fe7c7bee8049805d79bcc280239a9fc1e913a69/pandocfilters-1.4.3.tar.gz
parso @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/fe/ac/61/368c9383d3833586c1d666ec86359b6511fa79adb884e5f3ac5fd47a90/parso-0.8.1-py2.py3-none-any.whl
pexpect @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/c0/05/08/f23ddb8e3d5b19e7cf01eb434220310be2aaf69226bdec78bc53589024/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/27/b2/0a/93a92c700a1993b2923519262ddf76a629bd459a0597c0ae28bf80c7a6/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow==7.2.0
pip==21.0
prometheus-client @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/69/94/b3/926903ae24487f948be927c737b37ead3a9e0865b5ec0d3007cc4fa89f/prometheus_client-0.9.0-py2.py3-none-any.whl
prompt-toolkit @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/5c/9a/2e/889b593c8ac2b2854a1fc54f32d39e9d1f24565622b3b9fa2a4e7240aa/prompt_toolkit-3.0.14-py3-none-any.whl
protobuf==3.14.0
ptyprocess @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/b5/84/64/9519e6926ac101cbc8d93423b8165f4abac4f8a8e3e099f74d3c7e0e67/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/f1/03/25/40eb46f7bede64f78ba073e2141b8216e611cbcde72e3117c326560101/pycparser-2.20-py2.py3-none-any.whl
pyglet==1.5.11
Pygments @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/5e/f7/f8/70dd935eb9152b30e1d1a0822540e809ae1b3c4dcdf4c03577a3ad9116/Pygments-2.7.4-py3-none-any.whl
pyparsing @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/da/e7/3d/1780282f558e5fd157bf708b28b8ba0d08323ef6bc5b6396139ce38a0b/pyparsing-2.4.7-py2.py3-none-any.whl
pyrsistent @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/d8/37/43/5ceed6677fc301784b0e62604a431e293d12c402f4ca588304e916a04d/pyrsistent-0.17.3.tar.gz
python-dateutil @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/1e/2c/dc/0e811c2299b40168ee1da03bc13c11762ce9fa96eb867ad22280db11fc/python_dateutil-2.8.1-py2.py3-none-any.whl
pytz @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/82/a3/7d/f351b383d5fc50fa6c93691abd2eb98ce223942fc7ddaa5ab57df3a2d0/pytz-2020.5-py2.py3-none-any.whl
pyzmq @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/27/3f/2a/ed7937dd5f098992c6f088bb9aeedf810d58d6e291edf9cdc3eea147b0/pyzmq-21.0.2-cp38-cp38-macosx_10_9_x86_64.whl
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scipy==1.6.0
Send2Trash @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/40/97/0a/f421bca5e8da2c4a13d0c5abe9f2309550d5ebc2067b67c3929997663c/Send2Trash-1.5.0-py3-none-any.whl
setuptools==52.0.0
six @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/be/98/c7/69fe6fea7a59659af1c6260899226129565330b1e07c9c5b3769be76bf/six-1.15.0-py2.py3-none-any.whl
sniffio @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/d0/91/b7/e6203dd46faa656f9ddf9a16cfbc3e51a56fa709d69642affedb2e0eff/sniffio-1.2.0-py3-none-any.whl
tabulate==0.8.7
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.1
termcolor==1.1.0
terminado @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/cb/a1/eb/b520f4a95413cc2b0d167b65543cd45d4931d8d558b34a500425420d51/terminado-0.9.2-py3-none-any.whl
testpath @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/71/31/06/e1366905608d747ada47997b3406776c1f88e2628e47674e40b9ae2b0b/testpath-0.4.4-py2.py3-none-any.whl
tornado @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/f8/e3/41/917f42a91e332f48e4150ee97f1c569a747bb58d2db08b1aa8a794fe06/tornado-6.1-cp38-cp38-macosx_10_9_x86_64.whl
tqdm==4.56.0
traitlets @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/8a/f4/fd/48c1725dcdd56393737bb0696379f91042dae8fbe51d06801caadfb12b/traitlets-5.0.5-py3-none-any.whl
typing-extensions==3.7.4.3
urllib3==1.26.3
wcwidth @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/36/68/e2/7232f431072d5e8aeec124120b9a1d095d45da10311d271fac10982473/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///Users/angelolovatto/Library/Caches/pypoetry/artifacts/60/1e/b4/eff9915b6506bb01a5ad61dfae3fa4f0302be9e2ad45eaccc833925b95/webencodings-0.5.1-py2.py3-none-any.whl
Werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
